# App environment configurations
FLASK_ENV = development
DEBUG = TRUE
FLASK_RUN_HOST = 127.0.0.1
FLASK_RUN_PORT = 5000

# Secret key setting for Flask sessions
SECRET_KEY = b'secret'

# DB base configuration for modularity and security reasons
DB_URI = 'mongodb+srv://username:password@mongodb.net/'

