{%
<div class="navIcon">
    <a href="../../../../../../Documents/School/WEB/group19/FoodBook/MyRecipes.html">
        <img src="C:\Users\Louk\PycharmProjects\group19\group19partC\static\media\personal.png" alt="איזור אישי" height="60" />
    </a>
    <a href="../../../../../../Documents/School/WEB/group19/FoodBook/UpLoad.html">
        <!-- TODO: להוסיף את הקישור להעלאת מתכון -->
        <img src="C:\Users\Louk\PycharmProjects\group19\group19partC\static\media\upload.png" alt="העלאת מתכון" height="60" />
    </a>
    <a href="./HomePage.html">
        <img src="C:\Users\Louk\PycharmProjects\group19\group19partC\static\media\home.png" alt="דף בית" height="60" />
    </a>
</div>
%}