{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/homepage.css') }}"/>
{% endblock %}

{% extends 'base.html' %}

{% set page_head_title = 'Homepage' %}

{% block category_nav %}
    <div class="category">
        {% for category in categories %}
            <a class="categoryBtn" href="/category/{{ category.name }}">
                <label>{{ category.label }}</label>
                <img src="static/media/{{ category.image }}" alt="{{ category.label }}" height="40"/>
            </a>
        {% endfor %}

    </div>
{% endblock %}

{% block main_div %}
    <div id="AllRecoRecipes">
        {% for recipe in all_recipes %}
            <div class="recipe">
                <h3>{{ recipe.name }}</h3>
                <a href="/recipe/{{ recipe._id }}">
                    <img src="static/media/{{ recipe.image }}" alt="{{ recipe.name }}" class="recipeImage">
                </a>
                <h4>{{ recipe.hardness }} | {{ recipe.minutes }} דקות</h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}