.regiBlock {
    background-color: #E38B29;
    border-radius: 20px;
    padding: 25px 70px;
    display: inline-block;
}


.regiButton {
    background-color: #FFDA77;
    color: #E38B29;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border-color: #FFDA77;
}

h2 {
    color: #FFF9E4;
    margin: 0;
}

h4 {
    color: #FFF9E4;
    font-size: 15px;
    margin: 5px;
}
