<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    {% block page_head %}
        <meta charset="UTF-8">
        <title>{{ page_head_title | default('FoodBook', true) }}</title>
        <base href="/"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    {% endblock %}
    {% block head_css %}{% endblock %}
</head>
<body>
{% block page_body_content %}
<header>
    {% block body_header %}
        {% include 'main_nav.html' %}
        {% include 'main_logo.html' %}
    {% endblock %}
</header>
    {% block category_nav%}
        {% endblock %}
    {% block main_div %}
        <div class="main_div_Block">
        {% block main_div_content %}

            {% endblock %}
        </div>
        {% endblock %}
    {% endblock %}
</body>
</html>