
h2 {
    font-size: 40px;
    font-weight: bold;
    color: #ee7215;
    text-align: right;
    margin: 30px;
}

.recipe {
    display: inline-block;
    background-color: #E38B29;
    padding: 10px;
    border-radius: 20px;
    margin: 0 1% 0 1%;
}


.recipe h3 {
    color: #FFF9E4;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.recipeImage {
    height: 220px;
    width: 220px;
}

.recipe h4 {
    color: #FFF9E4;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}


h4 {
    color: #ee7215;
    text-align: right;
    font-size: 25px;
    margin: 30px;
    font-weight: bold;
}

@media (max-width: 1000px) and (min-width: 600px) {
    .recipeImage {
        height: 160px;
    }

    .recipe {
        padding: 6px;
    }

    .recipe h4 {
        font-size: 120%;
    }

    .recipe h3 {
        font-size: 130%;
        padding: 0px;
    }
}

@media (max-width: 600px) {
    .recipeImage {
        height: 140px;
    }

    .recipe {
        padding: 6px;
    }

    #logoImg {
        animation: my-animation 2s ease-in-out infinite;
        animation-iteration-count: 1;
        height: 100px;
    }

    h2 {
        font-size: 25px;
        margin: 10px;
    }

    h4 {
        font-size: 20px;
        margin: 10px;
    }

    .recipe h4 {
        font-size: 100%;
    }

    .recipe h3 {
        font-size: 110%;
        padding: 0px;
    }
}